.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: left;
}

.app-title {
  color: #377eb8;
  margin-bottom: 20px;
}

.graph-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  justify-content: flex-start;
}
.legend {
  margin-left: 0
}
.legend-container {
  margin-left: 20px;
  text-align: left;
}

.legend-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.legend-list {
  list-style: none;
  padding: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
}
